<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="schunk_lwa4p_gazebo" params="name">

		<gazebo reference="${name}_0_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_1_link">
			<material>Schunk/Blue</material>
			<turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_2_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_3_link">
			<material>Schunk/Blue</material>
			<turnGravityOff>false</turnGravityOff>
             <selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_4_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_5_link">
			<material>Schunk/Blue</material>
			<turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
		</gazebo>

		<gazebo reference="${name}_6_link">
			<material>Schunk/LightGrey</material>
			<turnGravityOff>false</turnGravityOff>
            <selfCollide>true</selfCollide>
		</gazebo>

	</xacro:macro>

</robot>
